<div data-name="{{slug}}" class="panel {{#if active}}active{{/if}}" >
    <img src="{{image}}" alt="{{name}}">
    <p><a href="{{url}}">Demo</a></p>
    <p>
        {{{content}}}
    </p>
    <p>{{tech}}</p>
</div>